body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form-container {
  display: flex;
  width: 62%;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  /* gap: 2rem; */
  padding: 2rem;
}

.form-container > * {
  flex: 1 1 auto;
}
